#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.app {
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
  align-content: flex-start;;
}

.header {
  height: 7vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 100%;
  background-color: #84a59d;
}

.sidebar {
  flex: 0 1 30%;
  background-color: #f28482;
  height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  flex: 1 1 auto;
  background-color: #f6bd60;
  text-align: center;
  height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center;
}